<!DOCTYPE html>
<html lang=%APP_LANG%>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>%APP_NAME%</title>
    <meta name="keywords" content=%APP_KEYWORDS%>
    <meta name="description" content=%APP_DESCRIPTION%>
    <meta name="author" content=%APP_AUTHOR%>
  </head>
  <body>
    <script src="%APP_MAIN_SCRIPT%" defer></script>
  </body>
</html>